$cell-width: 100px;
$cell-gap: 1px;
$font-size: 30px;

$first-day-margin:
  "mon" 1px,
  "tue" 102px,
  "wed" 203px,
  "thu" 304px,
  "fri" 405px,
  "sat" 506px,
  "sun" 607px;

$days-in-month:
  "28" 28,
  "29" 29,
  "30" 30,
  "31" 31;
